@import "../../../../assets/styles/mixins";

y-worldpay-order-overview {
  @extend %cx-order-overview !optional;

  y-worldpay-order-detail-billing {
    margin-bottom: 0;
    flex: 1;

    .cx-review-summary {
      flex-direction: column;

      @include media-breakpoint-down(md) {
        border: 1px solid var(--cx-color-light);
        border-radius: 10px;
        background-color: var(--cx-color-inverse);
      }
    }

    .cx-review-summary-card {
      width: 100%;

      @include media-breakpoint-up(lg) {
        padding: 10px 0;
        display: block;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }

        .cx-card-body {
          padding: 0;
        }
      }

      .cx-card-title {
        margin-bottom: 0;
        font-size: var(--cx-font-size, 1.125rem);
      }
    }
  }
}
