@import "../../../assets/styles/mixins";

cx-page-layout cx-page-slot > y-worldpay-place-order {
  flex: unset;

  .cx-place-order-form.form-check {
    padding: 1rem 0 0 2.5rem;

    @include media-breakpoint-down(md) {
      padding-left: 0;
    }

    .form-group {
      margin-left: 2.5rem;
    }
  }

  button {
    margin: 1rem 0 0 0;
  }
}

.wp-challenge {
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 25%);

  iframe {
    left: 50%;
    top: 50%;
    position: fixed;
    border: none;
    background-color: white;
    transform: translate(-50%, -50%);
  }
}
