@import "../../../../assets/styles/mixins";

y-worldpay-order-confirmation-shipping {
  max-width: var(--cx-page-width-max);
  padding-inline-end: 15px;
  padding-inline-start: 15px;
  margin-inline-start: auto;
  margin-inline-end: auto;

  @extend %cx-order-confirmation-shipping !optional;
}

