<form
  (ngSubmit)="submitForm()"
  [formGroup]="checkoutSubmitForm"
  class="cx-place-order-form form-check"
>
  <div class="form-group">
    <label>
      <input
        class="form-check-input"
        formControlName="termsAndConditions"
        type="checkbox"
      />
      <span class="form-check-label">
        {{ 'checkoutReview.confirmThatRead' | cxTranslate }}
        <a
          [routerLink]="{ cxRoute: 'termsAndConditions' } | cxUrl"
          class="cx-tc-link"
          target="_blank"
        >
          {{ 'checkoutReview.termsAndConditions' | cxTranslate }}
        </a>
      </span>
      <cx-form-errors
        [control]="checkoutSubmitForm.get('termsAndConditions')"
      ></cx-form-errors>
    </label>
  </div>

  <button
    [disabled]="!paymentAuthorized || (isLoading$ | async)"
    class="btn btn-primary btn-block btn-submit"
    type="submit"
  >
    {{ 'checkoutReview.placeOrder' | cxTranslate }}
  </button>

</form>

<iframe
  *ngIf="ddcIframeUrl$ | async"
  [src]="ddcIframeUrl$ | async"
  height="1"
  style="visibility: hidden"
  width="1"
></iframe>

<div
  *ngIf="challengeIframeUrl$ | async as challengeIframeUrl"
  class="wp-challenge"
>
  <iframe
    [height]="challengeIframeHeight"
    [src]="challengeIframeUrl"
    [width]="challengeIframeWidth"
  ></iframe>
</div>

<div
  *ngIf="redirectData$ | async as redirectData"
  class="d-none"
>
  <form
    [action]="redirectData.postUrl"
    id="redirect-form"
    method="GET"
    ngNoForm
  >
    <input
      *ngFor="let queryParams of queryParams"
      [name]="queryParams.key"
      [value]="queryParams.value"
      type="hidden"
    />
    <input
      *ngFor="let redirectParameter of redirectData.parameters?.entry"
      [name]="redirectParameter.key"
      [value]="redirectParameter.value"
      type="hidden"
    />

  </form>
</div>
