
.wp__apm {
  display: flex;
  align-content: center;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid var(--cx-color-primary);

  &-image {
    width: 65px;
    height: 42px;
    margin-right: 10px;
  }

  &-label {
    line-height: 42px;
    margin: 0;
  }

  &--selected,
  &:hover {
    border-bottom-width: 2px;
    padding-bottom: 9px;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }
}

