@import "../../../../assets/styles/mixins";
@import "@spartacus/checkout/base/styles/components/steps/review/_review.scss";

y-worldpay-order-confirmation-shipping {
  max-width: var(--cx-page-width-max);
  padding-inline: 15px 15px;
  margin-inline: auto auto;

  @extend %cx-order-confirmation-shipping !optional;
}

