<h2 class="cx-checkout-title d-none d-lg-block d-xl-block">
  {{ 'checkoutAddress.shippingAddress' | cxTranslate }}
</h2>

@if (cards$ | async; as cards) {
  @if ((isUpdating$ | async) !== true) {
    @if (cards?.length && !addressFormOpened) {
      <p class="cx-checkout-text">
        {{ 'checkoutAddress.selectYourDeliveryAddress' | cxTranslate }}
      </p>

      <div class="cx-checkout-btns cx-checkout-btns-top">
        <button
          (click)="showNewAddressForm()"
          class="btn btn-block btn-secondary"
        >
          {{ 'checkoutAddress.addNewAddress' | cxTranslate }}
        </button>
      </div>

      <div class="cx-checkout-body row">
        @for (card of cards; track $index; let i = $index) {
          <div class="cx-delivery-address-card col-md-12 col-lg-6">
            <div
              (click)="selectAddress(card.address)"
              class="cx-delivery-address-card-inner"
            >
              <cx-card
                (sendCard)="selectAddress(card.address)"
                [border]="true"
                [content]="card.card"
                [fitToContainer]="true"
                [index]="i"
                [role]="card.card.role"
              ></cx-card>
            </div>
          </div>
        }
      </div>

      <div class="cx-checkout-btns cx-checkout-btns-bottom">
        <button
          (click)="showNewAddressForm()"
          class="btn btn-block btn-secondary"
        >
          {{ 'checkoutAddress.addNewAddress' | cxTranslate }}
        </button>
      </div>

      <div class="cx-checkout-btns row">
        <div class="col-md-12 col-lg-6">
          <button
            (click)="back()"
            class="cx-btn btn btn-block btn-secondary"
          >
            {{ backBtnText | cxTranslate }}
          </button>
        </div>
        <div class="col-md-12 col-lg-6">
          <button
            (click)="next()"
            [disabled]="!(selectedAddress$ | async)?.id"
            class="cx-btn btn btn-block btn-primary"
          >
            {{ 'common.continue' | cxTranslate }}
          </button>
        </div>
      </div>
    } @else {
      @if (cards.length) {
        <y-worldpay-address-form
          (backToAddress)="hideNewAddressForm(false)"
          (submitAddress)="addAddress($event)"
          [showTitleCode]="true"
        ></y-worldpay-address-form>
      } @else {
        <y-worldpay-address-form
          (backToAddress)="hideNewAddressForm(true)"
          (submitAddress)="addAddress($event)"
          [addressData]="selectedAddress"
          [setAsDefaultField]="!isGuestCheckout"
          [showTitleCode]="true"
          cancelBtnLabel="{{ backBtnText | cxTranslate }}"
        ></y-worldpay-address-form>
      }
    }
  } @else {
    <div class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  }
}
