<form class="cx-place-order-form form-check" [formGroup]="checkoutSubmitForm">
  <div class="form-group">
    <label>
      <input
        formControlName="termsAndConditions"
        class="scaled-input form-check-input"
        type="checkbox"
      />
      <span class="form-check-label">
        {{ 'checkoutReview.confirmThatRead' | cxTranslate }}
        <a
          [routerLink]="{ cxRoute: 'termsAndConditions' } | cxUrl"
          class="cx-tc-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          {{ 'checkoutReview.termsAndConditions' | cxTranslate }}
        </a>
      </span>
    </label>
  </div>

  <button
    (click)="submitForm()"
    class="btn btn-primary btn-block btn-submit"
    [disabled]="termsAndConditionInvalid || (daysOfWeekNotChecked$ | async)"
    [cxAtMessage]="'checkoutReview.orderInProcess' | cxTranslate"
  >
    {{ 'checkoutReview.placeOrder' | cxTranslate }}
  </button>
</form>

<iframe
  *ngIf="ddcIframeUrl$ | async"
  [src]="ddcIframeUrl$ | async"
  height="1"
  style="visibility: hidden"
  width="1"
></iframe>

<div
  *ngIf="challengeIframeUrl$ | async as challengeIframeUrl"
  class="wp-challenge"
>
  <iframe
    [height]="challengeIframeHeight"
    [src]="challengeIframeUrl"
    [width]="challengeIframeWidth"
  ></iframe>
</div>

<div
  *ngIf="redirectData$ | async as redirectData"
  class="d-none"
>
  <form
    [action]="redirectData.postUrl"
    id="redirect-form"
    method="GET"
    ngNoForm
  >
    <input
      *ngFor="let queryParams of queryParams"
      [name]="queryParams.key"
      [value]="queryParams.value"
      type="hidden"
    />
    <input
      *ngFor="let redirectParameter of redirectData.parameters?.entry"
      [name]="redirectParameter.key"
      [value]="redirectParameter.value"
      type="hidden"
    />

  </form>
</div>