.applepay-buy-button {
  height: 40px;
  width: 240px;
  border-radius: initial;
  -apple-pay-button-type: buy;
  -apple-pay-button-style: black;
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  appearance: -apple-pay-button;
}
