%OrderConfirmationPageTemplate {
  y-worldpay-order-detail-billing {
    max-width: var(--cx-page-width-max);
    padding-inline: 15px;
    margin-inline: auto;

    @include media-breakpoint-down(md) {
      width: 100%;
      max-width: none;
      margin: 0 25px;
      padding: 0 15px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0;
    }
  }
}
