@import "../../../assets/styles/mixins";

.cx-checkout-title {
  margin-bottom: 0;
  margin-top: 0;
  padding: 2.375rem 0 1.75rem;
  font-weight: var(--cx-font-weight-normal);
  line-height: var(--cx-line-height, 1.2222);
  font-size: var(--cx-font-size, 1.375rem);
  text-transform: capitalize;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

.cx-payment-card-inner {
  display: flex;
  height: 100%;

  cx-card {
    padding: 20px 0;
    display: block;
    width: 100%;
  }

  .btn-action {
    @include media-breakpoint-down(md) {
      margin: 0 0 1rem;
    }
  }
}
