<ng-container *ngIf="cards$ | async as cards">
  <h3 class="cx-checkout-title d-none d-lg-block d-xl-block">
    {{ 'paymentForm.payment' | cxTranslate }}
  </h3>
  
  <ng-container *ngIf="(isLoading$ | async) !== true else loading">

    <y-worldpay-apm-component
      [apms]="apms$"
      (setPaymentDetails)="setApmPaymentDetails($event)"
      [processing]="processing$| async"
    ></y-worldpay-apm-component>

    <ng-container *ngIf="isCardPayment">
      <ng-container
        *ngIf="
          cards?.length && !newPaymentFormManuallyOpened;
          else newPaymentForm
          "
      >
        <ng-container>
          <p class="cx-checkout-text">
            {{ 'paymentForm.choosePaymentMethod' | cxTranslate }}
          </p>

          <div class="cx-checkout-btns row">
            <div class="col-md-12 col-lg-6">
              <button
                class="btn btn-block btn-action"
                (click)="showNewPaymentForm()"
              >
                {{ 'paymentForm.addNewPayment' | cxTranslate }}
              </button>
            </div>
          </div>

          <div class="cx-checkout-body row">
            <div
              class="cx-payment-card col-md-12 col-lg-6"
              *ngFor="let card of cards; let i = index"
            >
              <div class="cx-payment-card-inner">
                <cx-card
                  [border]="true"
                  [fitToContainer]="true"
                  [content]="card.content"
                  (sendCard)="selectPaymentMethod(card.paymentMethod)"
                ></cx-card>
              </div>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="selectedPayment">
          <div [formGroup]="cvnForm">
            <div class="form-group col-md-4">
              <label>
                    <span class="label-content">
                      {{ 'paymentForm.securityCode' | cxTranslate }}
                      <cx-icon
                        [type]="iconTypes.INFO"
                        class="cx-payment-form-tooltip"
                        placement="right"
                        title="{{ 'paymentForm.securityCodeTitle' | cxTranslate }}"
                        alt=""
                      ></cx-icon>
                    </span>
                <input
                  type="text"
                  class="form-control"
                  id="cVVNumber"
                  formControlName="cvn"
                />
              </label>
            </div>
          </div>
        </ng-container>

        <div class="row cx-checkout-btns">
          <div class="col-md-12 col-lg-6">
            <button
              class="btn btn-block btn-action"
              (click)="back()"
            >
              {{ 'common.back' | cxTranslate }}
            </button>
          </div>
          <div class="col-md-12 col-lg-6">
            <button
              class="btn btn-block btn-primary"
              [disabled]="!selectedPayment || !cvnForm.value.cvn"
              (click)="next()"
            >
              {{ 'common.continue' | cxTranslate }}
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #newPaymentForm>

        <wp-payment-form
          (setPaymentDetails)="setPaymentDetails($event)"
          (closeForm)="hideNewPaymentForm()"
          (goBack)="back()"
          (next)="next()"
          [paymentMethodsCount]="cards?.length || 0"
          [setAsDefaultField]="!isGuestCheckout"
        ></wp-payment-form>
      </ng-template>
    </ng-container>
  </ng-container>

  <ng-template #loading>
    <div class="cx-spinner">
      <cx-spinner></cx-spinner>
    </div>
  </ng-template>
</ng-container>
