<div class="cx-payment-form-billing">
  <div class="cx-payment-form-billing-address">
    {{ 'paymentForm.billingAddress' | cxTranslate }}
  </div>
  
  <!-- SAME AS SHIPPING CHECKBOX -->
  <ng-container *ngIf="showSameAsShippingAddressCheckbox$ | async">
    <div class="form-group">
      <div class="form-check">
        <label>
          <input
            type="checkbox"
            class="form-check-input"
            #sameAsShippingCheckbox
            [checked]="showSameAsDeliveryAddressCheckbox$ | async"
            (change)="showSameAsDeliveryAddressCheckbox$.next(sameAsShippingCheckbox.checked)"
          />
          <span class="form-check-label">{{'paymentForm.sameAsDeliveryAddress' | cxTranslate}}</span>
        </label>
      </div>
    </div>
  </ng-container>
  
  <!-- BILLING INFO COMPONENT -->
  <ng-container *ngIf="(showSameAsDeliveryAddressCheckbox$ | async ) && deliveryAddress$ | async as shippingAddress; else billingAddress">
    <cx-card [content]="getAddressCardContent(shippingAddress.data)"></cx-card>
  </ng-container>
  
  <ng-template #billingAddress>
    <div [formGroup]="billingAddressForm">
      <div class="form-group" formGroupName="country">
        <ng-container *ngIf="countries$ | async as countries">
          <div *ngIf="countries.length">
            <label aria-required="true">
              <span class="label-content required">{{'addressForm.country' | cxTranslate}}</span>
              <ng-select
                [searchable]="true"
                [clearable]="false"
                [items]="countries"
                bindLabel="name"
                bindValue="isocode"
                placeholder="{{'addressForm.selectOne' | cxTranslate}}"
                formControlName="isocode"
              >
              </ng-select>
              <cx-form-errors [control]="billingAddressForm.get('country.isocode')"></cx-form-errors>
            </label>
          </div>
        </ng-container>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content required">{{'addressForm.firstName.label' | cxTranslate}}</span>
          <input
            class="form-control"
            type="text"
            placeholder="{{'addressForm.firstName.placeholder' | cxTranslate}}"
            formControlName="firstName"
          />
          <cx-form-errors [control]="billingAddressForm.get('firstName')"></cx-form-errors>
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content required">{{'addressForm.lastName.label' | cxTranslate}}</span>
          <input
            type="text"
            class="form-control"
            placeholder="{{'addressForm.lastName.placeholder' | cxTranslate}}"
            formControlName="lastName"
          />
          <cx-form-errors [control]="billingAddressForm.get('lastName')"></cx-form-errors>
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content required">{{'addressForm' + jpLabel + '.address1' | cxTranslate}}</span>
          <input
            type="text"
            class="form-control"
            placeholder="{{'addressForm.streetAddress' | cxTranslate}}"
            formControlName="line1"
          />
          <cx-form-errors [control]="billingAddressForm.get('line1')"></cx-form-errors>
        </label>
      </div>
      <div class="form-group">
        <label>
          <span class="label-content">{{'addressForm' + jpLabel + '.address2' | cxTranslate}}</span>
          <input
            type="text"
            class="form-control"
            placeholder="{{ 'addressForm.aptSuite' | cxTranslate }}"
            formControlName="line2"
          />
        </label>
        <cx-form-errors [control]="billingAddressForm.get('line2')"></cx-form-errors>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label>
            <span class="label-content required">{{'addressForm' + jpLabel + '.city.label' | cxTranslate}}</span>
            <input
              type="text"
              class="form-control"
              placeholder="{{'addressForm.city.placeholder' | cxTranslate}}"
              formControlName="town"
            />
            <cx-form-errors [control]="billingAddressForm.get('town')"></cx-form-errors>
          </label>
        </div>
        <div class="form-group col-md-6">
          <label>
            <span class="label-content required">{{'addressForm' + jpLabel + '.zipCode.label'| cxTranslate}}</span>
            <input
              type="text"
              class="form-control"
              placeholder="{{'addressForm.zipCode.placeholder' | cxTranslate}}"
              formControlName="postalCode"
            />
            <cx-form-errors [control]="billingAddressForm.get('postalCode')"></cx-form-errors>
          </label>
        </div>
        <ng-container *ngIf="regions$ | async as regions" formGroupName="region">
          <ng-container *ngIf="regions.length">
            <div class="form-group col-md-6">
              <label aria-required="true">
                <span class="label-content required">{{'addressForm' + jpLabel + '.state'  | cxTranslate}}</span>
                <ng-select
                  class="region-select"
                  formControlName="isocode"
                  [searchable]="true"
                  [clearable]="false"
                  [items]="regions"
                  [bindLabel]="getRegionBindingLabel(regions)"
                  [bindValue]="getRegionBindingValue(regions)"
                  placeholder="{{'addressForm.selectOne' | cxTranslate}}"
                >
                </ng-select>
                <cx-form-errors [control]="billingAddressForm.get('region.isocode')"></cx-form-errors>
              </label>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </ng-template>
</div>
