cx-page-slot {
  y-worldpay-checkout-place-order {
    padding-bottom: 0;
    padding-top: 1rem;
    flex: unset;
    padding-inline: 2.5rem 0;

    .cx-place-order-form {
      padding: 0;
      font-size: 12px;

      .form-check-input {
        margin: 0;
        top: 1rem;
      }

      .form-check-label {
        margin-bottom: 0.5rem;
        margin-top: 0.3rem;
        padding: 0;
        margin-inline: 2rem 0;
      }
    }

    @include media-breakpoint-down(md) {
      padding: 1rem 0 0;
    }
  }

  @include media-breakpoint-down(md) {
    cx-checkout-order-summary {
      width: 50%;
      padding-top: 1rem;

      cx-order-summary {
        padding: 1rem 2.5rem 0;

        @include media-breakpoint-down(md) {
          padding: 1rem 0 0;
        }
      }
    }

    y-worldpay-checkout-place-order {
      max-width: 50%;
      padding-bottom: 2rem;
    }
  }

  @include media-breakpoint-down(sm) {
    --cx-flex-basis: 100%;

    align-items: normal;

    cx-checkout-order-summary {
      min-width: 100%;
    }

    y-worldpay-checkout-place-order {
      max-width: 100%;
    }
  }
}

.wp-challenge {
  height: 100%;
  width: 100%;
  inset: 0;
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 25%);

  iframe {
    left: 50%;
    top: 50%;
    position: fixed;
    border: none;
    background-color: white;
    transform: translate(-50%, -50%);
  }
}
