wp-payment-form {
  @mixin checkout-media-style() {
    @include media-breakpoint-down(md) {
      display: block;
      background-color: var(--cx-color-background);

      @include forVersion(6.3) {
        background-color: var(--cx-color-transparent);
      }
    }
  }

  @extend %cx-payment-form !optional;
}
