:root {
  --accordion-border-radius: 12px;
  --accordion-border-width: thin;
  --accordion-border-color: var(--cx-color-medium);
  --accordion-header-background: var(--cx-color-light);
  --accordion-content-background: var(--cx-tab-btn-bg-color);
  --accordion-item-background: var(--cx-tab-btn-bg-color);
  --accordion-item-padding: 1.875rem;
}

cdk-accordion {
  padding: 0;
  display: flex;
  flex-direction: column;
  border: var(--accordion-border-width) solid var(--accordion-border-color);
  border-radius: var(--accordion-border-radius);
  overflow: hidden;
}

cdk-accordion-item {
  margin: 0;
  padding: 0;
  background-color: var(--accordion-item-background);

  &:not(:last-child) {
    border-bottom: var(--accordion-border-width) solid var(--accordion-border-color);
  }
}

.accordion-item-header {
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--accordion-header-background);

  &.disabled-action {
    pointer-events: none;
  }
}

.accordion-item-content {
  padding-top: var(--accordion-item-padding);
  border-top: thin solid var(--accordion-border-color);
  background-color: var(--accordion-content-background);
  padding-inline: var(--accordion-item-padding) var(--accordion-item-padding);
}