y-worldpay-schedule-replenishment-order {
  @extend %cx-schedule-replenishment-order !optional;
}

%MultiStepCheckoutSummaryPageTemplate {
  cx-page-slot {
    &.SideContent {
      y-worldpay-schedule-replenishment-order {
        @include media-breakpoint-down(md) {
          width: 50%;
        }

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      y-worldpay-schedule-replenishment-order {
        padding-bottom: 0;
        padding-top: 1rem;
        flex: unset;
        padding-inline: 2.5rem 0;

        @include media-breakpoint-down(md) {
          padding: 1rem 0 0;
        }
      }
    }
  }
}
