<h2 class="cx-checkout-title d-none d-lg-block d-xl-block">
  {{ 'checkoutAddress.shippingAddress' | cxTranslate }}
</h2>

<section
  *ngIf="
    featureConfigService?.isEnabled('a11yCheckoutStepsLandmarks');
    else content
  "
  [attr.aria-label]="'checkoutAddress.shippingAddress' | cxTranslate"
>
  <ng-template [ngTemplateOutlet]="content"></ng-template>
</section>
<ng-template #content>
  <ng-container *ngIf="cards$ | async as cards">
    <ng-container *ngIf="(isUpdating$ | async) !== true; else loading">
      <div
        *cxFeature="'!a11yRemoveStatusLoadedRole'"
        [attr.aria-label]="'common.loaded' | cxTranslate"
        role="status"
      ></div>

      <ng-container
        *ngIf="
        cards?.length && !addressFormOpened;
        then showExistingAddresses;
        else newAddressForm
      "
      >
      </ng-container>

      <ng-template #showExistingAddresses>
        <p class="cx-checkout-text">
          {{ 'checkoutAddress.selectYourDeliveryAddress' | cxTranslate }}
        </p>

        <div class="cx-checkout-btns cx-checkout-btns-top">
          <button
            (click)="showNewAddressForm()"
            class="btn btn-block btn-secondary"
          >
            {{ 'checkoutAddress.addNewAddress' | cxTranslate }}
          </button>
        </div>

        <div class="cx-checkout-body row">
          <div
            *ngFor="let card of cards; let i = index"
            class="cx-delivery-address-card col-md-12 col-lg-6"
          >
            <div
              (click)="selectAddress(card.address)"
              class="cx-delivery-address-card-inner"
            >
              <cx-card
                (sendCard)="selectAddress(card.address)"
                [border]="true"
                [content]="card.card"
                [fitToContainer]="true"
                [index]="i"
              ></cx-card>
            </div>
          </div>
        </div>

        <div class="cx-checkout-btns cx-checkout-btns-bottom">
          <button
            (click)="showNewAddressForm()"
            class="btn btn-block btn-secondary"
          >
            {{ 'checkoutAddress.addNewAddress' | cxTranslate }}
          </button>
        </div>

        <div class="cx-checkout-btns row">
          <div class="col-md-12 col-lg-6">
            <button
              (click)="back()"
              class="cx-btn btn btn-block btn-secondary"
            >
              {{ backBtnText | cxTranslate }}
            </button>
          </div>
          <div class="col-md-12 col-lg-6">
            <button
              (click)="next()"
              [disabled]="!(selectedAddress$ | async)?.id"
              class="cx-btn btn btn-block btn-primary"
            >
              {{ 'common.continue' | cxTranslate }}
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template #newAddressForm>
        <y-worldpay-address-form
          (backToAddress)="hideNewAddressForm(false)"
          (submitAddress)="addAddress($event)"
          *ngIf="cards.length; else initialAddressForm"
          [showTitleCode]="true"
        ></y-worldpay-address-form>
        <ng-template #initialAddressForm>
          <y-worldpay-address-form
            (backToAddress)="hideNewAddressForm(true)"
            (submitAddress)="addAddress($event)"
            [addressData]="selectedAddress"
            [setAsDefaultField]="!isGuestCheckout"
            [showTitleCode]="true"
            cancelBtnLabel="{{ backBtnText | cxTranslate }}"
          ></y-worldpay-address-form>
        </ng-template>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-template>
<ng-template #loading>
  <div class="cx-spinner">
    <cx-spinner></cx-spinner>
  </div>
</ng-template>
