/* stylelint-disable-next-line selector-class-pattern -- Reason for disabling Stylelint. */
.wp__apm {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  cx-media {
    height: 45px;
    width: 100%;
    max-width: 120px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &--selector {
    position: relative;
    border: medium solid var(--cx-color-medium);
    border-radius: 50%;
    background: white;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
  }

  &-label {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: #e9ecf1;

    .wp__apm--selector {
      background-color: var(--cx-color-light);
    }
  }

  &--selected {
    &:hover,
    &:focus {
      .wp__apm--selector {
        background-color: var(--cx-color-primary);
        border-color: var(--cx-color-primary);
      }
    }

    .wp__apm--selector {
      background-color: var(--cx-color-primary);
      border-color: var(--cx-color-primary);
    }
  }
}
